<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar [color]="toolbarColor" class="example-toolbar custom-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon class="icon-toolbar">menu</mat-icon>
    </button>

    <h1 class="example-app-name title">Application Console</h1>

    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example search icon" appUnderDev>
      <mat-icon class="icon-toolbar">search</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="onThemeChange()"
      aria-label="Example icon-button with theme icon"
    >
      <mat-icon class="icon-toolbar">{{ isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <div class="desktop-menu">
      <button mat-icon-button aria-label="show 4 new mails" appUnderDev>
        <mat-icon
          class="icon-toolbar"
          [matBadge]="4"
          [attr.aria-hidden]="false"
          aria-hidden="false"
          matBadgeColor="warn"
          >mail</mat-icon
        >
      </button>
      <button mat-icon-button aria-label="show 17 new notifications" appUnderDev>
        <mat-icon
          class="icon-toolbar"
          [matBadge]="17"
          [attr.aria-hidden]="false"
          aria-hidden="false"
          matBadgeColor="warn"
          >notifications</mat-icon
        >
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="profileMenu"
        aria-label="account of current user"
      >
        <mat-icon class="icon-toolbar">account_circle</mat-icon>
      </button>
    </div>

    <div class="mobile-menu">
      <button mat-icon-button [matMenuTriggerFor]="mobileMenu" aria-label="show more">
        <mat-icon class="icon-toolbar">more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item><mat-icon>person</mat-icon><span>Profile</span></button>
    <button mat-menu-item><mat-icon>settings_account_box</mat-icon><span>Settings</span></button>
    <button mat-menu-item><mat-icon>dashboard</mat-icon><span>Dashboard</span></button>
    <button mat-menu-item><mat-icon>logout</mat-icon><span>Logout</span></button>
  </mat-menu>

  <mat-menu #mobileMenu="matMenu">
    <button mat-menu-item appUnderDev>
      <mat-icon [matBadge]="4" [attr.aria-hidden]="false" aria-hidden="false" matBadgeColor="warn"
        >mail</mat-icon
      >
      <span>Messages</span>
    </button>
    <button mat-menu-item appUnderDev>
      <mat-icon [matBadge]="17" [attr.aria-hidden]="false" aria-hidden="false" matBadgeColor="warn"
        >notifications</mat-icon
      >
      <span>Notifications</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
  </mat-menu>
  <mat-sidenav-container
    class="example-sidenav-container sidenav-custom-width-container"
    [style.marginTop.px]="isMobile() ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [opened]="!isMobile()"
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
    >
      <mat-nav-list style="padding-left: 8px">
        @for (nav of menus; track nav) {
          <a
            mat-list-item
            routerLink=""
            routerLinkActive="mdc-list-item--activated"
            (click)="toggleSideMenu()"
          >
            <mat-icon matListItemIcon class="nav-icon">{{ nav.icon }}</mat-icon>
            @if (true) {
              <span matListItemTitle>{{ nav.title }}</span>
            }
            @if (nav.isSubMenu) {
              <div matListItemMeta>
                <mat-icon>arrow_drop_down</mat-icon>
              </div>
            }
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="main-container">
        <section>
          <div class="example-label">Text</div>
          <div class="example-button-row">
            <button matButton>Basic</button>
            <button matButton disabled>Disabled</button>
            <a matButton href="https://www.google.com/" target="_blank">Link</a>
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Elevated</div>
          <div class="example-button-row">
            <button matButton="elevated">Basic</button>
            <button matButton="elevated" disabled>Disabled</button>
            <a matButton="elevated" href="https://www.google.com/" target="_blank">Link</a>
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Outlined</div>
          <div class="example-button-row">
            <button matButton="outlined">Basic</button>
            <button matButton="outlined" disabled>Disabled</button>
            <a matButton="outlined" href="https://www.google.com/" target="_blank">Link</a>
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Filled</div>
          <div class="example-button-row">
            <button matButton="filled">Basic</button>
            <button matButton="filled" disabled>Disabled</button>
            <a matButton="filled" href="https://www.google.com/" target="_blank">Link</a>
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Tonal</div>
          <div class="example-button-row">
            <button matButton="tonal">Basic</button>
            <button matButton="tonal" disabled>Disabled</button>
            <a matButton="tonal" href="https://www.google.com/" target="_blank">Link</a>
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Icon</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button matIconButton aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
              </button>
              <button
                matIconButton
                disabled
                aria-label="Example icon button with a open in new tab icon"
              >
                <mat-icon>open_in_new</mat-icon>
              </button>
              <button
                matIconButton
                aria-label="Example icon button with a vertical three dot icon1"
              >
                <mat-icon>home</mat-icon>
              </button>
              <button
                color="primary"
                matIconButton
                aria-label="Example icon button with a vertical three dot icon1"
              >
                <mat-icon>home</mat-icon>
              </button>
              <button
                matIconButton
                disabled
                aria-label="Example icon button with a vertical three dot icon2"
              >
                <mat-icon>home</mat-icon>
              </button>
              <button matButton="filled">
                <mat-icon>home</mat-icon>
                with icons
                <mat-icon iconPositionEnd>favorite</mat-icon>
              </button>
              <button matButton="filled">
                <mat-icon>home</mat-icon>
                with icons
              </button>
              <a href="//www.google.com" matButton color="primary">SEARCH</a>
            </div>
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Floating Action Button (FAB)</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button matFab aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
              <button matFab disabled aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Mini FAB</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button matMiniFab aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <button matMiniFab disabled aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
            </div>
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Extended FAB</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button matFab extended>
                <mat-icon>favorite</mat-icon>
                Basic
              </button>
              <button matFab extended disabled>
                <mat-icon>favorite</mat-icon>
                Disabled
              </button>
              <a matFab extended routerLink=".">
                <mat-icon>favorite</mat-icon>
                Link
              </a>
            </div>
          </div>
        </section>
        <mat-divider />
        @for (content of fillerContent; track content) {
          <p>{{ content }}</p>
        }
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
