@use '@angular/material' as mat;

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  padding-left: 10px;
  cursor: pointer;
}

/* Toolbar Override */
.custom-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );

  .icon-toolbar {
    @include mat.icon-overrides(
      (
        color: var(--mat-sys-on-primary),
      )
    );
  }
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.sidenav-custom-width-container {
  // 1. override var in scope
  --mat-sidenav-container-width: 240px;
  // 2 . M3 style
  //   @include mat.sidenav-overrides(
  //   (
  //     container-width: 240px,
  //   )
  // );
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-container {
  // background-color: var(--mat-sys-surface-tint);
  // color: var(--mat-sys-on-surface);
  padding-left: 16px;
}

.title {
  display: none;
  @media (min-width: 600px) {
    display: block;
  }
}

/* Responsive Menu Display */
.desktop-menu {
  display: none;
  @media (min-width: 900px) {
    display: flex;
  }
}

.mobile-menu {
  display: flex;
  @media (min-width: 900px) {
    display: none;
  }
}

section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
