@use 'sass:map';
@use '@angular/material' as mat;

$primary: mat.$azure-palette;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $primary,
      use-system-variables: true,
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $primary,
      use-system-variables: true,
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

@include mat.core(); // include core mixin functions
/**
 generate
 .mat-app-background {
    background-color: var(--mat-app-background-color, var(--mat-sys-background, transparent));
    color: var(--mat-app-text-color, var(--mat-sys-on-background, inherit));
  }
*/
@include mat.app-background(); //
// Apply the theme to the html element
html {
  // customize components here globally
  //--mat-sidenav-container-width: 360px;
  height: 100%;
  color-scheme: light;

  // This generates the base component styles and root CSS variables
  @include mat.theme($light-theme);
  // style all components with generated theme
  @include mat.all-component-themes($light-theme);
  // expose colors vars from theme like --mat-sys-primary to css file
  @include mat.system-level-colors($light-theme);
  // expose typography vars from theme like headline to css file
  @include mat.system-level-typography($light-theme);
  // backward compatibility for m2 components property like color
  // be carefull not work with all components like toolbar
  @include mat.color-variants-backwards-compatibility($light-theme);
  // backward compatibility for m2 components typography
  @include mat.typography-hierarchy($light-theme, $back-compat: true);
  // include utility css classes like mat-bg mat-text
  @include mat.system-classes();
  // Set the base background and text color to match the M3 theme
}

.theme-dark {
  color-scheme: dark;
  // Apply only the dark theme colors when the dark mode class is active
  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);
  @include mat.system-level-typography($dark-theme);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}
